<h4 id="landing_header">Explore Featured Exhibits & Collections</h4>

<div class="collection_image">

<a href="/?f%5Bcorpora_collection_sim%5D%5B%5D=Bengali+Intellectuals+Oral+History+Project"><img src="http://design.atech.tufts.edu/corpora_images/home_1.png" alt="placeholder"></a>
<h5><a href="/?f%5Bcorpora_collection_sim%5D%5B%5D=Bengali+Intellectuals+Oral+History+Project">Bengali Cultural Heritage in the Postcolonial Age</a></h5>
<p> A project supported by a Collaborative Research Grant from the National Endowment for the Humanities.  The collection explores the webs of association between ideas, culture, social experience and urban geography.  Historical transformations are expressed through the life experience of senior intellectuals of West Bengal and Bangladesh, born between c. 1920 and c. 1950.  These artists, journalists, photographers, policy makers and academics helped create postcolonial cultural institutions in rising nation-states and across nation-states, and helped give shape to our understanding of South Asia in the modern world.</p>
</div>

<div class="collection_image">
<img src="http://design.atech.tufts.edu/corpora_images/home_2.png" alt="placeholder">
<h5>Islam on the Indian Ocean Rim</h5>
<p> A collection focused on the history of  cosmopolitanism, inter-regional connection and competing universalisms across the rimland of the Indian Ocean.  These lectures were developed as the digital textbook for the Islam on the Indian Ocean Rim course, co-taught by Tufts and LUMS University (Lahore) in 2012.  Lectures in this collection transgress the temporal thresholds used to periodize South Asian history into early modern, colonial and postcolonial eras.  Lectures also transgress spatial horizons by exposing connections between South Asia, Central Asia, Africa, the Arab world and Southeast Asia.</p>
</div>

<div class="collection_image">
<img src="http://design.atech.tufts.edu/corpora_images/home_3.png" alt="placeholder">
<h5>Bay of Bengal: Flow of Change</h5>
<p> A collection of lectures focused on the history of the eastern Indian Ocean and connections linking South and East Asia.  This corpus addresses themes relating to environmental change, population migration, intellectual and cultural exchange, and transformations of political economy in a pivotal arena for world politics.  Materials in this corpus were developed as the digital textbook for the Bay of Bengal: Flows of Change course, co-taught between Tufts and BRAC University (Dhaka) in 2014. </p>
</div>
<% #Creates a bit space in the page -%>

