<h4 id="landing_header">New to Corpora?</h4>
<p>Learn more about how to use Corpora by watching our tutorial video:</p>
 <iframe width="560" height="315" src="//www.youtube.com/embed/d3l9IR88xgY?rel=0" frameborder="0" allowfullscreen></iframe>

<h4 id="landing_header">Explore Featured Exhibits & Collections</h4>


<div class="collection_image">
  <img src="/assets/home_3.png" alt="Bay of Bengal">
  <h5>Bay of Bengal: Flows of Change</h5>

  <p>A collection of lectures focused on the history of the eastern Indian Ocean and connections linking South and East
    Asia.</p>
</div>

<div class="collection_image">
  <img src="/assets/home_1.png" alt="Bengal Intellectuals">
  <h5>
    <a href="/?f%5Bcorpora_collection_sim%5D%5B%5D=Bengali+Intellectuals+Oral+History+Project">Bengali Cultural Heritage
      in the Postcolonial Age</a></h5>

  <p>Historical transformations are expressed through the life experience of senior intellectuals of West Bengal and
    Bangladesh, born between c. 1920 and c. 1950.</p>
</div>

<div class="collection_image">
  <img src="/assets/home_2.png" alt="Islam on the Indian Ocean Rim">
  <h5><a href="/?f%5Bcorpora_collection_sim%5D%5B%5D=Islam+on+the+Indian+Ocean+Rim">Islam on the Indian Ocean Rim</a>
  </h5>

  <p>A collection focused on the history of cosmopolitanism, inter-regional connection and competing universalisms
    across the rimland of the Indian Ocean.</p>
</div>

<div class="collection_image">
  <img src="/assets/home_4.png" alt="Lost Theatres of Somerville">
  <h5>
    <a href="/?f%5Bcorpora_collection_sim%5D%5B%5D=Lost+Theatres+of+Somerville">Lost Theatres of Somerville
    </a></h5>
  <p>Oral histories of Somerville's picture palaces through interviews with former patrons and personnel.</p>
</div>

<div class="collection_image">
  <img src="/assets/home_5.png" alt="This I Believe">
  <h5><a href="/?f%5Bcorpora_collection_sim%5D%5B%5D=This+I+Believe">This I Believe</a></h5>

  <p>Archives of the original This I Believe series, a five-minute CBS Radio Network program hosted by journalist Edward R. Murrow from 1951 to 1955.</p>
</div>

<div class="collection_image">
  <img src="/assets/home_6.png" alt="West Medford African-American Rememberance Project">
  <h5><a href="?f%5Bcorpora_collection_sim%5D%5B%5D=West+Medford+African-American+Remembrance+Project">West Medford
    African-American Rememberance Project</a></h5>

  <p>Interviews to document the legacy of a number of outstanding Afro-Americans from the West Medford community.</p>
</div>


<% #Creates a bit space in the page  -%>

