<div id="content" class="span12 show-document">

<h4 id="landing_header">New to Corpora?</h4>
<p>Learn more about how to use Corpora by watching our tutorial video:</p>
 <iframe width="560" height="315" src="//www.youtube.com/embed/d3l9IR88xgY?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
